body {
  margin: 0;
  background: linear-gradient(#3523ae,#1c0446) fixed;
}

h1 {
  font-family: helvetica;
  font-weight: 200;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */
